@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contestant System</h1>
    <p class="lead">A contestant is someone who takes part in a competition, usually a professional competition or a game show on television. The participants competing against each other have to go through rounds. </p>
   
</div>

