<?xml version="1.0"?>
<connectionStrings>

  <clear />
  <add name="ContestantDB"
      connectionString="Data Source=(LocalDb)\MSSQLLocalDB; AttachDbFilename=|DataDirectory|\ContestantDB.mdf;Initial Catalog=ContestantDB;Integrated Security=True" providerName="System.Data.SqlClient"
       />
</connectionStrings>
